body{
    background-color: white;
}
.button-design{
  font-size:10px;
  color:white;
}
.button-background{
    width:130;
    height:30;
    background-color:black
}
.split_left{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;   
}
.split_right{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    text-align: left;   
}
.image{
    width:250;
    height:250;
    image-orientation: 50%;
}
.warning{
    position: fixed;
    top: 5%;
    left: 5%;
    text-align: left;
    width: 100%;
    background-color: white;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0%;
    color:gray;
    text-align: center;
    width: 100%;
    background-color: white;
}