body{
    background-color: white;
    height:100%;
}
.button-design{
  font-size:10px;
  color:white;
}
.button-background{
    width:130;
    height:30;
    background-color:black
}
.column{
    display: flex;
    justify-content: center; 
}
.image{
   
    max-width: 100%;
}
.warning{
    position: fixed;
    top: 5%;
    left: 5%;
    text-align: left;
    width: 100%;
    background-color: white;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0%;
    color:gray;
    text-align: center;
    width: 100%;
    background-color: white;
}
.content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display:grid;
    align-items:center;
    width: 100%;
    grid-auto-flow: row;
  
}
@media only screen and  (min-width:710px) {
    .content{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
